.quick_login {
    padding: 11px 10px 0;
}
.quick_login .label {
    padding: 0 0 8px;
    color: #656565;
    font-size: 12.5px;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}
.quick_login .labeled {
    padding-bottom: 13px;
}
.quick_login input.dark {
    width: 149px;
}
input.dark {
    height: 30px;
}
.quick_login_button {
    margin-top: 2px;
}
.quick_login .forgot {
    padding-top: 16px;
    text-align: center;
}
.clear {
    float: none;
    clear: both;
}
.quick_login .checkbox {
    padding-bottom: 10px;
    text-align: left;
    display: none;
}
.checkbox {
    cursor: pointer;
    line-height: 1.27em;
}
.fakeinput.dark, .fakeinput.dark~.placeholder .ph_input, div[contenteditable=true], div[contenteditable=true]~.placeholder .ph_input, input.dark, input.dark~.placeholder .ph_input, textarea.dark, textarea.dark~.placeholder .ph_input {
    padding: 5px 9px 7px;
    border-radius: 3px;
    box-sizing: border-box;
}
.fakeinput, .fakeinput~.placeholder .ph_input, div[contenteditable=true], div[contenteditable=true]~.placeholder .ph_input, input.big_text, input.big_text~.placeholder .ph_input, input.dark, input.dark~.placeholder .ph_input, input.search, input.search~.placeholder .ph_input, input.text, input.text~.placeholder .ph_input, textarea, textarea~.placeholder .ph_input {
    color: #000;
    padding: 3px 5px;
    margin: 0;
    border: 1px solid #d3d9de;
}
