.quick_login {
    padding: 11px 10px 0;
}
.quick_login .label {
    padding: 0 0 8px;
    color: #656565;
    font-size: 12.5px;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}
.quick_login .labeled {
    padding-bottom: 13px;
}
.quick_login input.dark {
    width: 149px;
}
input.dark {
    height: 30px;
}
.button_wide button, .flat_button.button_wide {
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 5px;
}
.quick_login_button {
    margin-top: 2px;
}
.button_wide {
    display: block;
}
.button_blue button, .button_gray button, .button_light_gray button, .flat_button {
    padding: 7px 16px 8px;
    margin: 0;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Geneva,Noto Sans Armenian,Noto Sans Bengali,Noto Sans Cherokee,Noto Sans Devanagari,Noto Sans Ethiopic,Noto Sans Georgian,Noto Sans Hebrew,Noto Sans Kannada,Noto Sans Khmer,Noto Sans Lao,Noto Sans Osmanya,Noto Sans Tamil,Noto Sans Telugu,Noto Sans Thai,sans-serif;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #5181b8;
    color: #fff;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
}
.quick_login .forgot {
    padding-top: 16px;
    text-align: center;
}
.clear {
    float: none;
    clear: both;
}
.quick_login .checkbox {
    padding-bottom: 10px;
    text-align: left;
    display: none;
}
.checkbox {
    cursor: pointer;
    line-height: 1.27em;
}
.fakeinput.dark, .fakeinput.dark~.placeholder .ph_input, div[contenteditable=true], div[contenteditable=true]~.placeholder .ph_input, input.dark, input.dark~.placeholder .ph_input, textarea.dark, textarea.dark~.placeholder .ph_input {
    padding: 5px 9px 7px;
    border-radius: 3px;
    box-sizing: border-box;
}
.fakeinput, .fakeinput~.placeholder .ph_input, div[contenteditable=true], div[contenteditable=true]~.placeholder .ph_input, input.big_text, input.big_text~.placeholder .ph_input, input.dark, input.dark~.placeholder .ph_input, input.search, input.search~.placeholder .ph_input, input.text, input.text~.placeholder .ph_input, textarea, textarea~.placeholder .ph_input {
    color: #000;
    padding: 3px 5px;
    margin: 0;
    border: 1px solid #d3d9de;
}
