.login_page .msg {
    min-width: 10rem;
    margin: 20px 0 30px;
    background-image: none;
    padding-left: 18px;
    color: #000;
}
.error {
    background: #ffefe9;
    padding-left: 55px;
}
.box_error, .error {
    border-color: #f2ab99;
}
.box_msg, .box_msg_gray, .msg {
    background-color: #f0f2f5;
    transition: background-color 2s linear;
}
.error, .info_msg, .ok_msg {
    min-height: 40px;
    line-height: 38px;
}
.box_error, .box_msg, .box_msg_gray, .error, .info_msg, .msg, .ok_msg {
    padding: 7px 18px 9px;
    margin: 15px 20px;
    border: 1px solid #c1c9d9;
    border-radius: 2px;
    line-height: 150%;
}
.msg_text {
    display: inline-block;
    vertical-align: middle;
    line-height: 150%;
}

.login_fast_restore_wrap, .login_form_wrap {
    margin: 0 auto;
    width: 270px;
}
.login_fast_restore_wrap input.big_text, .login_form_wrap input.big_text {
    margin-bottom: 15px;
    width: 270px;
}
.login_buttons_wrap {
    margin-top: 20px;
}
.login_button {
    width: 105px;
}
.login_reg_button {
    margin-left: 10px;
    width: 155px;
    background-color: #5fb053;
}

.login_fast_restore_wrap {
    margin: 38px auto 0;
}
.login_fast_restore_wrap, .login_form_wrap {
    margin: 0 auto;
    width: 270px;
}
.login_fast_restore_wrap .login_fast_restore_link {
    display: block;
}
a:hover {
    text-decoration: underline;
}
.login_link {
    display: block;
    margin: 38px 0 15px;
}

.center-login {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
